html {
  background-color: black;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

nav ul {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: rgb(20, 22, 26);
  margin: 0;
  flex-direction: row;
}

nav ul li {
  padding: 20px 0;
  list-style: none;
  margin-right: 3px;
  width: 100%;
  font-weight: bold;
  font-size: large;
  border-radius: 9px;
  margin: 1rem 0;
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #07B59A;
  padding: 10px;
}

.header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  padding: 0;
  color: white;
  margin: 15px 0 15px;
}

.header2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

span a {
  color: aquamarine;
  font-size: 16px;
  display: block;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.logo {
  color: gray;
  text-align: right;
}

.margin {
  margin-top: 30px;
}