html {
  background-color: black;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

header {
  background-color: rgb(20, 22, 26);
  border-radius: 10px;
  padding: 1rem 0 1.8rem;
}

nav li {
  font-weight: bold;
  font-size: large;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  transition: background-color 700ms ease-in-out;
  border-radius: 10px;
  padding: 10px;
}

nav a:hover {
  background-color: #07B59A;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  margin: 10px 0 10px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
  margin: 0 auto;
}

p {
  font-size: 21px;
  color: gray;
}

span {
  display: block;
}

span a {
  color: aquamarine;
  display: inline-block;
  font-size: 16px;
  transition: background-color 700ms ease-in-out;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 20px auto 10px;
}

span a:hover {
  background-color: #07B59A;
}


.logo {
  text-align: right;
}

.margin {
  margin: 10px auto;
}