html {
  background-color: black;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

nav ul {
  display: flex;
  background-color: rgb(20, 22, 26);
  list-style: none;
  font-weight: bold;
  font-size: large;
  padding: 2.5rem 0;
  margin-top: 0;
}

nav li {
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #07B59A;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 500ms ease-in-out;
}

.header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  padding: 0;
  color: white;
  margin: 15px 0 15px;
}

.header2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

span a {
  color: aquamarine;
  font-size: 16px;
  display: block;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.logo {
  color: gray;
  text-align: right;
}

.margin {
  margin-top: 30px;
}