html {
  background-color: black;
  text-align: center;
}

.header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.header2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

span a {
  color: aquamarine;
  font-size: 16px;
  display: block;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.logo {
  color: gray;
  text-align: right;
}

.margin {
  margin-top: 30px;
}